<h1>Cats upon cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %></a>
      <img src="<%= cat.photo %>" height="200px" width="200px"/>
    </li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">Create cat</a>
